@model Domain.Dtos.Wallet.WalletTotalValuesAndEntrancesDto

@{
    ViewData["Title"] = "Finances Management System";
}
<div class="col-lg-6 mb-4">
    <div class="card bg-dark text-light">
        <h5 class="card-header bg-black">Current Values</h5>
        <div class="card-body">
            <div class="row">
                <canvas id="totalIncomesExpansesChart"></canvas>
            </div>
        </div>
    </div>

    <h2 class="row mt-3 mb-3">Wallets</h2>
    <div class="row" id="divWallets">
            @foreach (var item in Model.WalletsValues)
            {
                <div class="col-lg-6">
                    <div class="card mb-3 bg-dark text-light">
                        <div class="card-header bg-black">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Total Incomes</h6>
                            @Html.DisplayFor(modelItem => item.TotalIncomes)
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Total Expanses</h6>
                            @Html.DisplayFor(modelItem => item.TotalExpanses)
                        </div>
                    </div>
                </div>
            }
    </div>
</div>

<div class="col-lg-6">
    @Html.ActionLink("Create Entrance", "Create", "Entrance", null, new { @class = "btn btn-primary btn-sm btn-block mb-3" })

    <table class="table table-dark text-light table-hover">
        <thead>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>Value</th>
                <th>Category</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyEntrances"></tbody>
    </table>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ChartJsScriptsPartial");}
    <script src="~/js/Home.js"></script>
}
