<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FMS - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Entrance" asp-action="Index">Entrances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Wallet" asp-action="Index">Wallets</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container bg-dark text-light">
        <main role="main" class="pb-3 mt-3">
            <div class="row mb-3">
                <h1>@ViewData["Title"]</h1>
                <hr />
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="footer text-muted mt-3 navbar-dark bg-black text-light">
        <div class="container">
            &copy; 2021 - Powered by <b>Giovanni Brunno Previatti</b> |
            <a href="https://github.com/gpreviatti/FinancesManagementSystem/issues/new?assignees=gpreviatti&labels=enhancement&template=feature_request.md&title=" target="_blank">Sugestions ?</a> |
            <a href="https://github.com/gpreviatti/FinancesManagementSystem/issues/new?assignees=gpreviatti&labels=bug&template=bug_report.md&title=" target="_blank">Problems ?</a> |
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
