<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FMS - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>

<body>
    <div class="container main-container mb-4 mt-4 box-shadow">
        <main role="main" style="margin-top: 230px">
            <div class="row">
                <div class="col-lg-12 login-div rounded p-3">
                    <h3 class="mb-3">Finances Management System</h3>
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <br/>
    <br/>
    <br/>

    <footer class="footer mt-3 bg-primary">
        <div class="container">
            &copy; @DateTime.Now.Year - Powered by Giovanni Brunno Previatti |
            <a href="https://github.com/gpreviatti/FinancesManagementSystem/issues/new?assignees=gpreviatti&labels=enhancement&template=feature_request.md&title=" target="_blank">Sugestions</a> |
            <a href="https://github.com/gpreviatti/FinancesManagementSystem/issues/new?assignees=gpreviatti&labels=bug&template=bug_report.md&title=" target="_blank">Bugs</a> |
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
