@model IEnumerable<Domain.Dtos.Wallet.WalletResultDto>

@{
    ViewData["Title"] = "Wallets";
}

@Html.ActionLink("Create Wallet", "Create", null, htmlAttributes: new { @class = "btn btn-primary btn-sm btn-block mb-3" })

<br />

@foreach (var item in Model)
{
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-header">
                <b>@Html.DisplayFor(modelItem => item.Name)</b>
            </div class="card-header">
            <div class="card-body">
                <h6 class="card-title">Current Value</h6>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </div>
            <div class="card-footer">
                @Html.ActionLink("Edit", "Edit", "Wallet", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary btn-block" })
            </div>
        </div>
    </div>
}