@{
    ViewData["Title"] = "Entrances";
}

@Html.ActionLink("Create Entrance", "Create", null, htmlAttributes: new { @class = "btn btn-primary btn-sm btn-block mb-2" })

<div class="col-lg-12 mt-3">
    <table id="datatableEntrances" class="table table-dark text-light table-hover"></table>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_DatatablesScriptsPartial");}
    <script src="~/js/Entrance.js"></script>
}